{% extends 'maps/base.html' %}

{% load staticfiles %}

{% block content %}
<div class="container">
  <h1>Welcome</h1>
  <div>
    <span ><a href="{% url 'account_logout' %}">Log out</a></span>
    <span ><a href="{% url 'account_change_password' %}">Change Password</a></span>
  </div>
  
      
  <hr/>
  {% if request.user.is_authenticated %}
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createMapModal">
        Create Map
      </button>
      <hr />
      <div id="root" v-cloak>
      
        <ul id="" class="list-group">
          <li v-for="m in maps"  class="list-group-item">
            ${ m.name }
            <span class="pull-right"><a href="#" @click='editMap(m.pk)'>edit</a>&nbsp;&nbsp;<a href="#" @click="deleteMap(m.pk)">delete</a></span>
          </li>
        </ul>
      
        <!-- Model dialog forms -->
        
        <div id="createMapModal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create New Map</h4>
              </div>
              
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-group" v-bind:class="{ 'has-error': nameHasError }">
                    
                    <label for="Name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="name" name="name" placeholder="" v-model="formMapName" aria-describedby="helpBlock">
                      <span class="help-block">${ nameError }</span>
                    </div>
                  </div>
                  <div class="form-group" v-bind:class="{ 'has-error': descHasError }">
                    <label for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" rows="3" id="description" name="description" v-model="formMapDescripton"></textarea>
                      <span class="help-block">${ descError }</span>
                    </div>
                  </div>
                </form>
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="createMap">Create</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal --> <!-- CREATE MAP FORM -->


        <div id="editMapModal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Map</h4>
              </div>
              
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-group" v-bind:class="{ 'has-error': nameHasError }">
                    
                    <label for="Name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="name" name="name" placeholder="" v-model="formMapName" aria-describedby="helpBlock">
                      <span class="help-block">${ nameError }</span>
                    </div>
                  </div>
                  <div class="form-group" v-bind:class="{ 'has-error': descHasError }">
                    <label for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" rows="3" id="description" name="description" v-model="formMapDescripton"></textarea>
                      <span class="help-block">${ descError }</span>
                    </div>
                  </div>
                </form>
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="updateMap">Edit</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal --> <!-- EDIT MAP FORM -->
        


        <!-- end of model dialogs -->
      
      </div>
      
  {% else %}
      <div>
          <a class="btn btn-primary btn-lg" href="{% url 'account_login' %}">Log in</a> OR <a class="btn btn-success btn-lg" href="{% url 'account_signup' %}">Sign up</a>
      </div>
  {% endif %}
  
</div>

{% endblock content %}

{% block jsinclude %}
  <script src="{% static 'maps/js/dashboard.js' %}"></script>
  <script type="text/javascript">
    /* global $ */
    /* global dashboardApp */
    
    // to clear up form data after the modal is closed
    $('#createMapModal').on('hide.bs.modal', function(e) {
      dashboardApp.clearFormData();
    });
    $('#editMapModal').on('hide.bs.modal', function(e) {
      dashboardApp.clearFormData();
    });
  </script>
{% endblock jsinclude %}