{% extends 'maps/base.html' %}

{% load staticfiles %}

{% block stylecode %}
<style>
  
  .no-margin-bottom {
    margin-bottom: 0px;
  }
  .layer-panel{
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #dad4d4;
  }
  .layer-panel-selected {
    border-left-style: solid;
  }
  .unchecked-font {
    color: #c1c1c1;
  }
  .inherit-lineheight {
    line-height: inherit !important;
  }
  
  .draggable-item {
    cursor: pointer; 
    cursor: hand;
  }
  
</style>
<link rel="stylesheet" type="text/css" href="{% static 'maps/css/tt.css' %}"  
{% endblock stylecode %}


{% block content %}
<div class="container-fluid" id="root">
  <h2 class="hidden">Map Editor</h2>
  <div class="row">
    
    <div class="col-col-md-12">
      <div id="bloodhound" class="pull-right">
        <input class="typeahead form-control" type="text" placeholder="Search a location" />
      </div>
    </div>
    
  </div>
  
  <hr/>
  

  <!-- End Feature Modal -->
    
  <!-- Feature Modal -->
    <div id="featureModal" class="modal fade bs-feature-modal-sm" tabindex="-2" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">

            <form>
              <div class="form-group">
                <label for="featureName">Feature Name: </label>
                <input type="text" class="form-control" id="featureName" placeholder="Feature Name"  v-model="feature.name">
              </div>
              <div class="form-group">
                <label for="featureDesc">Description:</label>
                <textarea class="form-control" rows="3" id="featureDesc" v-model="feature.description"></textarea>

              </div>
              <button v-on:click="addFeature" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Add</button>


            </form>

          </div>
        </div>
      </div>
    </div>
  
  <!-- End Feature Modal -->
  
  <!-- Layer Modal -->
    <div id="layerModal" class="modal fade bs-layer-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: rgb(29, 161, 242); color: white;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="layerModelTitle">Add New Layer</h4>
          </div>
          <div class="modal-body">

            <form>
              <div class="form-group" v-bind:class="{ 'has-error': layerNameHasError }">
                <label for="layerName">Layer Name: </label>
                <input type="text" class="form-control" id="layerName" placeholder="Layer name" v-model="layer.name" aria-describedby="helpBlock">
                <span class="help-block">${ layerNameError }</span>
              </div>
              <div class="form-group" v-bind:class="{ 'has-error': layerLvlHasError }">
                <label for="level">Level:</label>
                <input type="text" class="form-control" id="level" placeholder="Level" v-model="layer.building_level" aria-describedby="helpBlock">
                <span class="help-block">${ layerLvlError }</span>
              </div>


            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="addLayer(layer)">Add</button>
          </div>
        </div>
      </div>
    </div>
  
  <!-- / Layer Modal -->
  
  
  
  
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">

          <div class="panel panel-default">
              <div class="panel-heading" style="background-color: #1DA1F2; color: white">
                Layers
                <div class='pull-right' >
                  <a href="#" style="color: white;" data-toggle="modal" data-target=".bs-layer-modal-sm">Add</a> |
                  <a href="#" style="color: white;" @click="deleteLayer">Delete</a>
                </div>
              </div>
              <template v-for="(l, layerIndex) in layers" >
                <div :key="l.pk" v-on:click="selectLayer(layerIndex)" class="panel-body layer-panel "
                      v-bind:class="{'layer-panel-selected': (layerIndex === selectedLayer), 'unchecked-font': !l.checked  }">
                  <div class="checkbox">
                    <label>
                      <input v-on:change="checkboxChanged(l, $event)" 
                              type="checkbox" 
                              v-model="l.checked"> ${l.name} at Level: ${l.building_level}
                    </label>
                  </div>

                  <div class="list-group no-margin-bottom" v-bind="{'hidden': !l.checked}">
                    <draggable :list="l.features" @end="onFeatureIndexChange(l)" @start="selectLayer(layerIndex)">
                      <li  class="list-group-item draggable-item" 
                            v-for="(feature, featureIndex) in l.features" 
                            @click='onFeatureClicked(feature)' 
                            >
                        
                        <a href="#"
                            data-placement="right" 
                            data-container="body"
                            v-bind:data-content="feature.properties.description"
                            data-toggle="popover">
                          <small>${feature.properties.name}</small>
                        </a>
                        <a class=" pull-right" href="#">
                          <span class="glyphicon glyphicon-trash inherit-lineheight" aria-hidden="true" @click="deleteFeature(layerIndex, featureIndex, feature.id, l.pk)"></span>
                        </a>
                        
                        <!-- Single button -->
                        <div class="btn-group pull-right" style="width:70px !important;" v-if="feature.properties.type !== 'marker'">
                          <button type="button" 
                                  class="btn btn-default btn-xs dropdown-toggle" 
                                  data-toggle="dropdown" 
                                  aria-haspopup="true" 
                                  aria-expanded="false" 
                                  v-bind:style="{borderBottomStyle: 'solid',borderBottomColor: feature.properties.color}"
                                  >
                           ${feature.properties.color} <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li style="border-bottom-style: solid;border-bottom-color: blue;"><a href="#" @click='changeColor(feature.id, l.pk, "blue")'>Blue</a></li>
                            <li style="border-bottom-style: solid;border-bottom-color: green;"><a href="#" @click='changeColor(feature.id, l.pk, "green")'>Green</a></li>
                            <li style="border-bottom-style: solid;border-bottom-color: red;"><a href="#" @click='changeColor(feature.id, l.pk, "red")'>Red</a></li>
                            <li style="border-bottom-style: solid;border-bottom-color: yellow;"><a href="#" @click='changeColor(feature.id, l.pk, "yellow")'>Yellow</a></li>
                            <li style="border-bottom-style: solid;border-bottom-color: black;"><a href="#" @click='changeColor(feature.id, l.pk, "black")'>Black</a></li>
                            <li style="border-bottom-style: solid;border-bottom-color: white;"><a href="#" @click='changeColor(feature.id, l.pk, "white")'>White</a></li>
                            
                            
                          </ul>
                        </div> <!-- button group -->
                        <br />
                        <!-- <small class="text-muted">${feature.properties.description}</small> -->
                      </li> <!-- / v-for l.features -->
                    </draggable>  
                  </div>

                </div>

              </template>
          </div>

        </div>
      </div>
    </div> <!-- / end col-md-3 -->
    
    <div class="col-md-9">
      <div id="mapdiv" style='height: 700px;'></div>
    </div> <!-- / end col-md-9 -->
    
  </div> <!-- / end row -->
  
  
  
</div>

{% endblock content %}

{% block jsinclude %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.0/leaflet.draw.js"></script>
  <script src="https://cdn.jsdelivr.net/sortable/1.4.2/Sortable.min.js"></script>
  <script src="https://cdn.rawgit.com/David-Desmaisons/Vue.Draggable/master/dist/vuedraggable.min.js"></script>
  
  <script src="{% static 'maps/js/maplayers.js' %}"></script>
  <script src="{% static 'maps/js/typeahead.js' %}"></script>
  <script type="text/javascript">
    /* global $ */
    /* global maplayersApp */
    /* global L */
    /* global Bloodhound */
    
    // typeahead
    
    var locations = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('results'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      
      remote: {
        url: 'https://developers.onemap.sg/commonapi/search?searchVal=%QUERY&returnGeom=Y&getAddrDetails=Y&pageNum=1',
        wildcard: '%QUERY',
        transform: function(response){
        console.log(response.results);
        return response.results;
      }
      }
      
      
      
    });
    
    $('#bloodhound .typeahead').typeahead(null,
    {
      name: 'locations',
      source: locations,
      display: 'BUILDING'
    });
    
    
    
    // end typeahead
    
    
    // to clear up form data after the modal is closed
    $('#layerModal').on('hide.bs.modal', function(e) {
      maplayersApp.clearFormData();
    });
    
    // load map into #mapdiv
    var map = L.map('mapdiv').setView([1.3384936555025502, 103.80895614624023], 12);

    var basemap = L.tileLayer('https://maps-{s}.onemap.sg/v3/Default/{z}/{x}/{y}.png', {
      detectRetina: true,
      attribution: 'Map data © contributors, <a href="http://SLA.gov.sg">Singapore Land Authority</a>',
      maxZoom: 28,
      minZoom: 11
    });

    var attribution = map.attributionControl;
    attribution.setPrefix('<img src="https://docs.onemap.sg/maps/images/oneMap64-01.png" style="height:20px;width:20px;"/>');
    map.setMaxBounds([[1.56073, 104.1147], [1.16, 103.502]]);
    basemap.addTo(map);
    
    var drawnItems = new L.FeatureGroup();
    map.addLayer(drawnItems);
    
    var drawControl = new L.Control.Draw({
      edit: {
        featureGroup: drawnItems
      }
    });
    
    map.addControl(drawControl);
    
    
    map.on('draw:created', function(e){
      
      if (maplayersApp.layers.length == 0){
        alert('Please add a layer first before drawing!');
      }
      else{
        maplayersApp.drawnLayer = e.layer;
        maplayersApp.type = e.layerType;
        $('#featureModal').modal('show');
      }
      
    }); // end draw:created
    
    map.on('draw:edited', function (e) {
      var layers = e.layers;
      // get owner unique ids
      // update layers with those ids
      var arrIds = [];
      layers.eachLayer(function (layer) {
        console.log(layer);
        arrIds.push(layer.feature.properties.ownerLayer);
        
      });
      console.log(arrIds);
      console.log($.unique(arrIds));
      maplayersApp.leafletDrawEdited($.unique(arrIds));
    });
    
    
    $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
      console.log(suggestion);
      var latlng = L.latLng(parseFloat(suggestion.LATITUDE), parseFloat(suggestion.LONGITUDE));
      map.setView(latlng, 19);
    });
    
  </script>
{% endblock jsinclude %}