{% extends 'maps/base.html' %}

{% load staticfiles %}

{% block stylecode %}
<style>
  body{
    background-color: #f5f8fa;
  }
  .no-margin-bottom {
    margin-bottom: 0px;
  }
  .layer-panel{
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #dad4d4;
  }
  .layer-panel-selected {
    border-left-style: solid;
  }
  .unchecked-font {
    color: #c1c1c1;
  }
  .inherit-lineheight {
    line-height: inherit !important;
  }
</style>
{% endblock stylecode %}


{% block content %}
<div class="container-fluid" id="root">
  <h1>Add Layers</h1>
  <div>
    <span ><a href="{% url 'account_logout' %}">Log out</a></span>
    <span ><a href="{% url 'account_change_password' %}">Change Password</a></span>
  </div>
  
  <hr/>
  
  <!-- Feature Modal -->
    <div id="featureModal" class="modal fade bs-feature-modal-sm" tabindex="-2" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">

            <form>
              <div class="form-group">
                <label for="featureName">Feature Name: </label>
                <input type="text" class="form-control" id="featureName" placeholder="Feature Name"  v-model="feature.name">
              </div>
              <div class="form-group">
                <label for="featureDesc">Description:</label>
                <textarea class="form-control" rows="3" id="featureDesc" v-model="feature.description"></textarea>

              </div>
              <button v-on:click="addFeature" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Add</button>


            </form>

          </div>
        </div>
      </div>
    </div>
  
  <!-- End Feature Modal -->
  
  <!-- Layer Modal -->
    <div id="layerModal" class="modal fade bs-layer-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: rgb(29, 161, 242); color: white;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="layerModelTitle">Add New Layer</h4>
          </div>
          <div class="modal-body">

            <form>
              <div class="form-group" v-bind:class="{ 'has-error': layerNameHasError }">
                <label for="layerName">Layer Name: </label>
                <input type="text" class="form-control" id="layerName" placeholder="Layer name" v-model="layer.name" aria-describedby="helpBlock">
                <span class="help-block">${ layerNameError }</span>
              </div>
              <div class="form-group" v-bind:class="{ 'has-error': layerLvlHasError }">
                <label for="level">Level:</label>
                <input type="text" class="form-control" id="level" placeholder="Level" v-model="layer.level" aria-describedby="helpBlock">
                <span class="help-block">${ layerLvlError }</span>
              </div>


            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="addLayer(layer)">Add</button>
          </div>
        </div>
      </div>
    </div>
  
  <!-- / Layer Modal -->
  
  
  
  
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">

          <div class="panel panel-default">
              <div class="panel-heading" style="background-color: #1DA1F2; color: white">
                Layers
                <div class='pull-right' >
                  <a href="#" style="color: white;" data-toggle="modal" data-target=".bs-layer-modal-sm">Add</a> |
                  <a href="#" style="color: white;" @click="deleteLayer">Delete</a>
                </div>
              </div>
              <template v-for="(l, layerIndex) in layers" >
                <div :key="l.pk" v-on:click="selectLayer(layerIndex)" class="panel-body layer-panel "
                      v-bind:class="{'layer-panel-selected': (layerIndex === selectedLayer), 'unchecked-font': !l.checked  }">
                  <div class="checkbox">
                    <label>
                      <input v-on:change="checkboxChanged(l)" 
                              type="checkbox" 
                              v-model="l.checked"> ${l.name}
                    </label>
                  </div>

                  <div class="list-group no-margin-bottom" v-bind="{'hidden': !l.checked}">
                      <a href="#" class="list-group-item " v-for="(feature, featureIndex) in l.features">
                        <small>${feature.properties.name}</small>
                        <span class="glyphicon glyphicon-trash inherit-lineheight pull-right" aria-hidden="true" @click="deleteFeature(layerIndex, featureIndex)"></span>
                      </a>
                  </div>

                </div>

              </template>
          </div>

        </div>
      </div>
    </div> <!-- / end col-md-3 -->
    
    <div class="col-md-9">
      <div id="mapdiv" style='height: 700px;'></div>
    </div> <!-- / end col-md-9 -->
    
  </div> <!-- / end row -->
  
  
  
</div>

{% endblock content %}

{% block jsinclude %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.0/leaflet.draw.js"></script>
  <script src="{% static 'maps/js/maplayers.js' %}"></script>
  <script type="text/javascript">
    /* global $ */
    /* global maplayersApp */
    /* global L */
    
    // to clear up form data after the modal is closed
    $('#layerModal').on('hide.bs.modal', function(e) {
      maplayersApp.clearFormData();
    });
    
    // load map into #mapdiv
    var map = L.map('mapdiv').setView([1.3384936555025502, 103.80895614624023], 12);

    var basemap = L.tileLayer('https://maps-{s}.onemap.sg/v3/Default/{z}/{x}/{y}.png', {
      detectRetina: true,
      attribution: 'Map data © contributors, <a href="http://SLA.gov.sg">Singapore Land Authority</a>',
      maxZoom: 28,
      minZoom: 11
    });

    var attribution = map.attributionControl;
    attribution.setPrefix('<img src="https://docs.onemap.sg/maps/images/oneMap64-01.png" style="height:20px;width:20px;"/>');
    map.setMaxBounds([[1.56073, 104.1147], [1.16, 103.502]]);
    basemap.addTo(map);
    
    var drawnItems = new L.FeatureGroup();
    map.addLayer(drawnItems);
    
    var drawControl = new L.Control.Draw({
      edit: {
        featureGroup: drawnItems
      }
    });
    
    map.addControl(drawControl);
    
    
    /* to check whether the drawing just started
    // if it is inital draw, map will zoom to the 
    // drawing boundary for further detail drawing
    */
    var initialDraw = true;
    
    map.on('draw:created', function(e){
      
      // console.log(e);
      // var dFeature = e.layer.feature = e.layer.feature || {};
      //dFeature.id = Date.now() / 1000 | 0;
      // console.log(dFeature);
      // dFeature.type = dFeature.type || {};
      
     //  var props = dFeature.properties = dFeature.properties || {};
      
      // props._id = 12;
      // props.tags = {
      //   buildingpart: 'room'
      // };
      
      // if it is inital draw, map will zoom to the 
      // drawing boundary for further detail drawing
      
      maplayersApp.drawnLayer = e.layer;
      
      // var layer = e.layer,
      //   feature = layer.feature = layer.feature || {}; // Intialize layer.feature

      // feature.type = feature.type || "Feature"; // Intialize feature.type
      // feature.id = drawnItems.getLayers().length;
      // var props = feature.properties = feature.properties || {}; // Intialize feature.properties
      // props.title = "my title";
      // props.content = "my content";
      // drawnItems.addLayer(layer);
      
      if (initialDraw){
        map.fitBounds(e.layer.getBounds());
        initialDraw = false;
      }
      
      
      //drawnItems.addLayer(layer); // moved this to addFeature function
      
      $('#featureModal').modal('show');
      
    });
    
    
  </script>
{% endblock jsinclude %}